/*==============================
=        Options Table         =
==============================*/

.options_table td{
    float:left;
}

.PostOverview_over {
  background-color:#c2c2c2 !important;
}

body.edit-php.post-type-bfu_kinder table.wp-list-table th#startTime,
body.edit-php.post-type-bfu_kinder table.wp-list-table th#endTime{
  width:10%;
}
