
#kalender{
	display:block;
    height:20%;
	margin-left:10px;

}

/*
#############################################
*/


html,body{
    height:100%;
}

h1{
    line-height:1em;
}

#page{
	position:relative;
	height:97%;
	top:3%;

	line-height:1em;

	/*#6efa05 */
	background-image: linear-gradient(
		rgba(255,255,255,0.5),
		rgba(110,250,05,1)

		);

	/*background-color: hsl(144, 100%, 50%);*/
}


p{
    margin:0px;
    margin-bottom:1.5em;
}



/*==============================
=            Header            =
==============================*/




#masthead{
    display:table;
    height:22%;
    width:100%;
}

.site-branding{
    display:table-row;
    height:100%;
    text-align:center;
}

.site-branding a{
	background-position:50% 0;
    background-repeat:no-repeat;
    background-size:contain;
    display:block;
    height:70%;
}

.site-branding a img{
    height:0;
    min-height:100%;
    padding:0 0 0 0;
    width:auto;
}

.site-description{
    color:rgb(0,0,0);
    font-family: 'Caveat Brush', cursive;
    font-size:1.7rem;
    font-size:4vh;
    height:30%;
    line-height:100%;
    margin:0;
}

/*===============================
=          Navigation           =
===============================*/
.main-navigation{
        display:table-row;
        font-size:1.2rem;
        height:1.2rem;
        line-height:1rem;
        padding: 0 80px;
    }





/*Normal Size*/
@media screen and (min-width: 37.5em) {
    .menu-item-has-children>a::after{
        content:"\00a0\25BE";
        display:inline-block;
        float:right;
    }
    .menu-item .menu-item-has-children>a::after{
        content:"\25B6";
        display:inline-block;
        float:right;
    }

    .menu-menu-1-container{
        display:inline-block;
    }

    .main-navigation ul ul{
        top:20px;
        top:1.2rem;
    }

    .menu{
        height:1.2rem;
    }

    .menu a:link, .menu a:active, .menu a:hover, .menu a:visited{
        color:white;
    }

    .menu>li{
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;

        height:1.2rem;
        line-height:1.2rem;
        margin-right: 10px;
        padding:0 10px;
    }

    .menu ul li{
        width:100%;
    }
    .slicknav_menu {
        display:none;
    }
}

/*Small Size*/
@media screen and (max-width: 37.5em) {
    /* #menu is the original menu */
    /*#primary-menu {
        display:none;
    }*/
    .main-navigation {
        /*display:none;*/
    }

    .main-navigation{
        position:static;
    }

    .main-navigation ul{
        position:static;
    }

    .main-navigation ul ul{
        position:static;
    }

    .slicknav_menu {
        display:table-cell;
    }

    .main-navigation li {
        display:block;
        float:none;
        overflow:hidden;
    }


}

.slicknav_menu{

    background-color:green;
    font-size:1.2rem;
    height:1.2rem;
    line-height:1rem;
    padding: 0 0;
    position:relative;
    z-index:999;
    float:left;
}

.slicknav_menu a{
    /*background-color:green;*/
}
.slicknav_btn{
    background-color:green;
    float:left;
    margin:0;
    padding:0;
}

.slicknav_menu .slicknav_menutxt{
    line-height:1.2rem;
}

.slicknav_menu .slicknav_icon{
    height:.875rem;
}

.slicknav_nav{
    background-color:green;
}

.slicknav_nav .slicknav_row:hover{
    background-color:lightgreen;
}

.slicknav_nav a{
    border-radius:6px;
}
.slicknav_nav a:hover{
    background-color:lightgreen;
}






.widget{
    display:inline-block;
    float: right;
    font-size:1.2rem;
    line-height:1.2rem;
    margin:0;
}

.simple_counter_plugin_text{
    color:white;
    text-align:right;
}


/*===============================
=            Content            =
===============================*/

#content{
    height:78%;
    padding-bottom:1rem;
}

#content::before{
    display:none;
}

#primary::before{
    display:none;
}

#primary{
	height:100%;
    overflow-y:auto;
    overflow-x:hidden;
    position:relative;
    width:100%;
    z-index:1;
}

.entry-content::before{
	display:none;
}

.entry-content{
    margin:0;
}

#main{
    color:white;
    height:100%;
    margin:0 80px;
    padding-top:4%;
    position:relative;
}



#karte{
    height:auto;
    left:25%;
    margin:0 auto;
    margin-top:5px;
    min-width: 48%;
    opacity:0.1;
    position:fixed;
    width: 0;
    z-index:-1;
    top:30%;
}



/*=================================
=         Veranstaltung          =
=================================*/

article.bfu_kinder{
    color:black;
		margin-left:100px;
}

article.bfu_erwachsene{
    color:darkblue;
		margin-left:100px;
}

.event_wrapper{
	margin-bottom:5px;
}

.event_sorry{
    font-size:1.3rem;
}

.bfu_kinder .entry-header .bfu_event_date,
.bfu_erwachsene .entry-header .bfu_event_date{
    float:left;
    height:100%;
    margin-left:-100px;
    width:100px;
    /*background-color:blue;`*/
}

.bfu_kinder .entry-header .entry-title,
.bfu_erwachsene .entry-header .entry-title{
    display:inline-block;
    font-size:1.5rem;
    font-weight:900;
    margin:0;
    margin-bottom:5px;
		line-height:1em;
}

.bfu_kinder .entry-footer,
.bfu_erwachsene .entry-footer{
    /*color:yellow;*/
}

.bfu_kinder .entry-footer .event_label,
.bfu_erwachsene .entry-footer .event_label{
    display:inline-block;
}

.bfu_kinder .entry-footer .event_value,
.bfu_erwachsene .entry-footer .event_value{
    display:inline-block;
}


/*==============================
=            Footer            =
==============================*/

.site-footer{
    background-color:white;
    bottom:0;
    font-size:0.8rem;
    height:1.04rem;
    /*margin-top:-1rem;*/
    padding-left:5px;
    position:absolute;
    width:100%;
}
