html,body,#primary,#main,#content,#page{
	height:100%;
}

#page{
	position:relative;
    height:97%;
    top:3%;

    line-height:1em;

    background-image: linear-gradient(
        rgba(255,255,255,1),
        rgba(0,0,0,0.5)
        );

    background-color: hsl(144, 100%, 50%); /*red*/
    animation: hue 50s infinite alternate;
}

@keyframes hue {
    /*hue will animate from 0 to 360. Saturation and Lightness remain constant*/
    20% {background-color: hsl(72, 100%, 50%);}
    40% {background-color: hsl(144, 100%, 50%);}
    60% {background-color: hsl(216, 100%, 50%);}
    80% {background-color: hsl(288, 100%, 50%);}
    100% {background-color: hsl(360, 100%, 50%);}
}


/*==============================
=            Header            =
==============================*/




#masthead{
    height:22%;
    width:100%;
    display:table;
}

.site-branding{
    /*text-align:center;*/
    padding-left:80px;
    padding-right:80px;
    height:100%;
    display:table-row;


	/*background-color:red;*/

}

.site-branding_pic{
	height:100%;
	width:35%;
	display:inline-block;
	padding-left:80px;

	background-repeat:no-repeat;
	background-size:contain;
	background-position-y:50%;

	/* Firefox */
	/*-moz-background-clip: content;*/
	-moz-background-origin: content;
	/* WebKit */
	/*-webkit-background-clip: content;*/
	-webkit-background-origin: content;
	/* IE9, Opera 9.5+, later Google Chrome */
	/*background-clip: content-box;*/
	background-origin: content-box;

	/*background-color:orange;*/
}
.site-branding img{
    padding:0px 0px 0px 80px;
    min-height:95%;
    height:0;
    width:auto;
    display:table-cell;
}

article{
	display:inline-block;
	width:65%;
	float:right;
	margin:0px;

	/*background-color:blue;*/
}

article .entry-header, article .entry-footer{
	display:none;
}

.hentry{
	margin:0px;
}

article .entry-content{
	margin:0px;
	position:relative;
}

article .entry-content p{
	margin:0px;
}

article .entry-content ul{
	margin:0px;
	padding-top:16px;
}

/*----------  Navigation  ----------*/

#site-navigation{
   	display:table-row;
   	height:20px;
	padding:0px 80px;
}






/*===============================
=            Content            =
===============================*/

#content{
    height:78%;
    padding-bottom:20px;
}

#content::before{
    display:none;
}

#primary::before{
    display:none;
}

#primary{
	width:100%;
	height:100%;
    overflow-y:auto;
    overflow-x:hidden;
    position:relative;
}

.entry-content::before{
	display:none;
}

.entry-content{
    margin:0px;
}

#main{
	height:100%;
    color:white;
}


#map{
	width:100%;
	height:100%;
	background-color:none;
}

.widget{
    display:inline-block;
    float: right;
    font-size:1.2rem;
    line-height:1.2rem;
    margin:0;
}

.simple_counter_plugin_text{
    color:white;
    text-align:right;
}
































.site-footer{
    background-color:white;
    font-size:0.8rem;
    height:1rem;
    margin-top:-1rem;
    padding-left:5px;
    width:100%;
}




/*
	Leaflet
*/

.leaflet-container{
	background-color:transparent !important;
}

/* cursors */

.leaflet-clickable {
	cursor: pointer;
	}
.leaflet-container {
	cursor: auto;
	cursor: auto;
	}
.leaflet-popup-pane,
.leaflet-control {
	cursor: auto;
	}
.leaflet-dragging .leaflet-container,
.leaflet-dragging .leaflet-clickable {
	cursor: auto;
	cursor: auto;
	cursor: auto;
	}
